// Created by kirbyjs on 9/7/18.

$mid-break-point: 840px;
$small-break-point: 450px;
$main-color: #2c5a1a;
$secondary-color: #2A3858;
$main-white: #fff;
$important-text-input-background-color: #fdfdb3;
