// Created by kirbyjs on 9/7/18.
@import '../variables';

.report-section {
  margin: 0 0 50px 0;

  &:last-of-type {
    margin-bottom: 20px;
  }

  > header {
    background-color: $main-color;
    color: $main-white;
    font-size: 1.3em;
    padding: 15px;
    text-align: center;
  }

  > section {
    margin: 10px 0;

    .true-false-section {
      margin: 20px 0 10px;

      span {
        display: inline-block;
        margin: 0 10px;
        vertical-align: top;
      }

      > div {
        display: inline-block;
      }
    }

    .true-false-radio-buttons {
      > label {
        margin: 10px 10px 10px 5px;

        input {
          margin-right: 7px;
        }
      }
    }
  }

  .flexed-inputs-container {
    height: 135px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    > .text-input, .select-input {
      align-items: center;
      display: flex;
      flex: 1 0 35px;
      padding: 5px 10px;

      > label {
        min-width: 115px;
        text-align: left;
      }

      input, select {
        flex: 1;
        margin-left: 10px;
      }

      select {
        height: 35px;
      }
    }

    @media all and (max-width: $mid-break-point) {
      height: inherit !important;
    }

    @media all and (max-width: $small-break-point) {
      .text-input, .select-input {
        align-items: flex-start;
        flex-direction: column;
        flex: 1;

        > label {
          min-width: inherit;
          width: inherit;
        }

        input, select {
          margin-left: 0;
          width: calc(100% - 20px);
        }
      }

      &.totals-section {
        align-items: flex-start;

        .text-input {
          width: calc(100% - 20px);
        }
      }
    }
  }

  .important-amount {
    label {
      font-weight: bold;
    }

    input {
      background-color: $important-text-input-background-color;
    }
  }
}
